h1 {
    color: variables.$color-text-header;
    font-family: Bellota Text;
    font-size: 35px;
    font-weight: bolder;
}

h2 {
    color: variables.$color-accent;
    font-family: Bellota Text;
    font-size: 27px;
    font-weight: normal;
}

h3 {
    color: variables.$color-text-muted;
    font-family: Mulish;
    font-size: 22px;
    font-weight: bold;
    width: fit-content;
    cursor: pointer;

    transition-property: transform;
    transition-duration: 0.75s;
    transition-timing-function: ease;
    
    &:hover {
        transform: scale(1.1);
    }
}

p {
    color: variables.$color-text;
    font-family: Mulish;
    font-size: 17px;
    font-weight: 300;
    max-width: 75%;
}

h1, h2, h3, p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    &.alignLeft {
        margin-left: 5%;
        text-align: left;
    }

    &.alignRight {
        margin-right: 5%;
        text-align: right;
    }
}