div#footer {
    margin-bottom: 0;
}

img#footerImage {
    max-width: 25vw;
    margin-bottom: 0;
    padding-bottom: 0;
}

p#footerText {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 20px;
    opacity: 0.75;
}